@use "variables" as v;
@use "mixins" as m;



footer {
  background-color: v.$dark-blue;
  padding: 40rem 25rem;
  text-align: center;
  font-size: 16rem;

  .footer-L {
    
    .social-links-con {
      

      .social-links {
        margin-top: 30rem;

        :not(:last-child) {
          margin-right: 10rem;
        }

        svg {

          path {
            transition: all 250ms ease-in-out;
          }
        }
        
        a:hover {
          
          path {
            fill: v.$lime-green;
          }
        }
      }
    }


    .nav-links-L, 
    .nav-links-R{
      margin-top: 30rem;
      display: flex;
      flex-direction: column;
      align-items: center;


      a {
        color: v.$white;
        font-size: 16rem;
        margin-bottom: 25rem;
        transition: all 250ms ease-in-out;

        &:hover {
          color: v.$lime-green;
        }
      }
    }

    .nav-links-R {
      margin-top: 0;
      margin-bottom: 40rem;
    }
  }


  .footer-R {
    p {
      margin-top: 20rem;
      color: v.$grayish-blue;
      
    }
  }

}


@include m.breakpoints-min(x-large) {

  footer {
    padding: 50rem 60rem;


    .footer-L {
      
      .social-links-con {
        margin-right: 120rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

      }


      .nav-links-L, 
      .nav-links-R {
        align-items: start;
        margin-bottom: 0;

        a:last-child {
          margin-bottom: 0;
        }
      }

      .nav-links-L {
        margin: 0 50rem 0 0;
        
      }
    }

    .footer-R {
      text-align: right;
    }


  }

}