@use "variables" as v;
@use "mixins" as m;



.value-prop {
  text-align: center;
  background-color: v.$light-grayish_blue;
  padding: 60rem 30rem 25rem 30rem;
  margin-bottom: 0;

  p {
    font-size: 16rem;
    color: v.$grayish-blue;
    line-height: 1.5;
  }

  .value-title {

    h2 {
      font-size: 27rem;
      font-weight: 400;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 20rem;
      letter-spacing: -0.05ch;
    }

    p {
      margin-bottom: 60rem;
    }
  }


  .features {
    opacity: 0;

    &__item {

      h3 {
        font-size: 20rem;
        font-weight: 400;
        margin: 10rem 0 20rem 0;
      }

      p {
        margin-bottom: 35rem;
      }
    }
  }
}



// <!-- ################## Media Queries ################## -->

// Tablet View
@include m.breakpoints-min-max(medium, x-large) {

 .value-prop {
  // padding: 50rem 80rem;

  .value-title {

    width: 55%;
    margin: 0 auto;
  }

  .features {
    display: flex;
    flex-direction: row;
    gap: 20rem;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__item {
      flex-basis: 40%;
    }
  }
 }
}


// Desktop View
@include m.breakpoints-min(x-large) {

  .value-prop {
    text-align: left;
    padding: 100rem 60rem;
    transform: translateY(-16%);
    // z-index doesn't work on position:static; elements
    position: relative; 
    z-index: -100;

    .value-title {
      
      h2 {
        margin: 0;
        margin-bottom: 20rem;
      }

      p {
        width: 600rem;
      }
    }
  }

  .features {


    &__item {
      flex-basis: 280rem;
    }
  }
}